<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinaunicom.management.orm.mapper.QuestionHandleMapper">
    <!--<resultMap id="BaseResultMap" type="com.chinaunicom.management.entity.Question">
        <id property="id" column="id"/>
        <result property="question" column="question" />
        <result property="type" column="type" />
        <result property="writer" column="writer" />
        <result property="date" column="date"  />
    </resultMap>-->

    <!--<sql id="Base_Column_List">
        id, hello_world
    </sql>

    <select id="getHelloWorld" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> FROM hello_world
    </select>-->

    <select id="getQuestionHandle" resultType="com.chinaunicom.management.entity.QuestionHandle">
        select * from question_handle WHERE type='新问题' or type='解决问题' or type='关闭问题' ORDER BY date;
    </select>

    <select id="getQuestionProcess" resultType="com.chinaunicom.management.entity.dto.QuestionHandleImg">
SELECT
	`question_handle`.date,
	`question_handle`.type,
	`usr`.usr_headportrait_url,
	`usr`.usr_name,
	`question`.id
FROM
	`usr`
	LEFT JOIN `question_handle` ON `question_handle`.usr_account = `usr`.usr_account
	LEFT JOIN `question` ON `question_handle`.questionid = `question`.id
WHERE
	`question_handle`.type != '新问题'
	AND `question_handle`.type != '解决问题'
	AND `question_handle`.type != '关闭问题'
ORDER BY
	date
    </select>
</mapper>
